@model IEnumerable<StoreFront.DATA.EF.Models.ProductStockStatus>

@{
    ViewData["Title"] = "Product Stock Statuses";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LimitedStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReStocking)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discontinued)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LimitedStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReStocking)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discontinued)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StatusId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StatusId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StatusId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
